###############################################################
##    ignore highly sensitive file password files               ##
###############################################################
*.*secret*
